<div class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
           <a class="nav-link" routerLink="/riya-home">Home
              <!-- <span class="sr-only" routerLink="/"></span> -->
  
           </a>
        </li>
        
        <li class="nav-item">
           <a class="nav-link" routerLink="/riya-template-driven-forms">Template Form</a>
        </li>
        <li class="nav-item">
  
           <a class="nav-link" routerLink="/riya-nested-form">Nested Form</a>
        </li>
        <li class="nav-item">
                    <div *ngIf="isUserLoggedIn; else isLogOut">
                          <a class="nav-link" routerLink="/logout">Logout</a>
                    </div>
  
                    <ng-template #isLogOut>
                                <a class="nav-link" routerLink="/login">Login</a>
                    </ng-template>
        </li>
     </ul>
  </div>
  
  <router-outlet></router-outlet>