<br>

<div class="wrapper-box">
  <div class="container">
    <h2 class="text-center mb-5">Contact form</h2>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm.value)">
          <div class="form-group">
            <label for="emailAddress">Email</label>
            <span class="required-field">*</span>
            <input type="email" class="form-control" name="emailAddress" placeholder="any.j@gmail.com"
              formControlName="emailAddress" />
              <div class="error" *ngIf="contactForm.get('emailAddress').hasError('email')">please fill valid email</div>
          </div>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <span class="required-field">*</span>
            <input type="text" class="form-control" name="fullName" placeholder="Full Name"
              formControlName="fullName" />
              
          </div>
          <div class="form-group">
            <label for="fullName">Phone Number</label>
            <span class="required-field">*</span>
            <input type="text" class="form-control" name="phoneNumber" placeholder="Phone Number"
              formControlName="phoneNumber" />
              <div class="error" *ngIf="contactForm.get('phoneNumber').hasError('minlength')">Number must be of 10 digits</div>
              <div class="error" *ngIf="contactForm.get('phoneNumber').hasError('maxlength')">Number must be of 10 digits</div>
              <div class="error" *ngIf="contactForm.get('phoneNumber').hasError('pattern')">please fill valid number</div>
          </div>
          <div class="form-group">
           <app-riya-nested-form-child> </app-riya-nested-form-child>
          </div>
          <div class="form-group">
            <label for="comment">Comment</label>
            <span class="required-field">*</span>
            <textarea placeholder="Type your comments" class="form-control" formControlName="comment" name="comment">
            </textarea>
          </div>
          <br>
          <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">
            Submit
          </button>
          <button style="margin-left: 5px;" type="button" class="btn btn-default" (click)="contactForm.reset()" [disabled]="!contactForm.valid">
            Reset
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



